.buying {
  padding-top: 60px;

  &__banner {
    height: 270px;
    background: url("./img__buying/sub-header-background.jpg") center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
      color: #FFF;
      text-align: center;
      font-family: "Fira Sans",sans-serif;
      font-size: 47px;
      font-style: normal;
      font-weight: 400;
      line-height: 48.4px; /* 112.558% */
    }
    p {
      margin-top: 20px;
      color: #CCC;
      text-align: center;
      font-family: "Fira Sans",sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 109.091% */
      display: flex;
      align-items: center;
      a{
        color: #ffffff;
        text-align: center;
        font-family: "Fira Sans",sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 109.091% */
        display: flex;
        align-items: center;
      }
      span{
        margin: 2px 7px 0 7px;
        font-size: 14px;
        font-family: none !important;
      }
      img {
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }
    }
  }
  &__info{
    display: flex;
    &__left{

    }
    &__right{

    }
    img{
      width: 20px;
      height: 20px;
    }
  }
}